<!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="ISO-8859-1"/>
<title>Tema SBC</title>
</head>
<body>
<script type="text/javascript">


function rule1(){
	var e = document.getElementById("player");
	var selPlayer = e.options[e.selectedIndex].value;
	location.href=document.URL+"?rule1="+selPlayer;
}

</script>
<select id="player">
<th:block th:each="p:${players}">
	<option th:value="${p.name}"><th:block th:text="${p.name}"/></option>
</th:block>
</select>
<br/><br/>
<div>

<button onclick="rule1()">Rule1</button>
</div>

</body>
</html>