<!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" >
<head>

<meta charset="ISO-8859-1"/>
<title>Tema SBC</title>
</head>
<body>
<script type="text/javascript">

function rule1(){
	var e = document.getElementById("player");
	var selPlayer = e.options[e.selectedIndex].value;
	location.href="/?rule1="+selPlayer;
}

function rule2(){
	var e = document.getElementById("player");
	var selPlayer = e.options[e.selectedIndex].value;
	location.href="/?rule2="+selPlayer;
}

function rule3(){
	var e = document.getElementById("player");
	var selPlayer = e.options[e.selectedIndex].value;
	location.href="/?rule3="+selPlayer;
}

function rule4(){
	var e = document.getElementById("player");
	var selPlayer = e.options[e.selectedIndex].value;
	location.href="/?rule4="+selPlayer;
}

function rule5(){
	var e = document.getElementById("manager");
	var selPlayer = e.options[e.selectedIndex].value;
	location.href="/?rule5="+selPlayer;
}

function rule6(){
	var e = document.getElementById("manager");
	var selPlayer = e.options[e.selectedIndex].value;
	location.href="/?rule6="+selPlayer;
}

</script>
<th:block th:if="${rule1 != null}">
<br/>

	<b><th:block th:text="${rule1}"/></b>

<br/><br/>
</th:block>

<th:block th:if="${rule2 != null}">
<br/>

	<b><th:block th:text="${rule2}"/></b>

<br/><br/>
</th:block>

<th:block th:if="${rule3 != null}">
<br/>

	<b><th:block th:text="${rule3}"/></b>

<br/><br/>
</th:block>

<th:block th:if="${rule4 != null}">
<br/>

	<b><th:block th:text="${rule4}"/></b>

<br/><br/>
</th:block>


<select id="player">
<th:block th:each="p:${players}">
	<option th:value="${p.name}"><th:block th:text="${p.name}"/></option>
</th:block>
</select>
<br/><br/>
<div>
	<button onclick="rule1()">Rule 1</button>
</div>

<br/>

<div>
	<button onclick="rule2()">Rule 2</button>
</div>

<br/>

<div>
	<button onclick="rule3()">Rule 3</button>
</div>

<br/>

<div>
	<button onclick="rule4()">Rule 4</button>
</div>

<br/>

<th:block th:if="${rule5 != null}">
<br/>

	<b><th:block th:text="${rule5}"/></b>

<br/><br/>
</th:block>

<th:block th:if="${rule6 != null}">
<br/>

	<b><th:block th:text="${rule6}"/></b>

<br/><br/>
</th:block>

<select id="manager">
<th:block th:each="m:${managers}">
	<option th:value="${m.name}"><th:block th:text="${m.name}"/></option>
</th:block>
</select>
<br/><br/>
<div>
	<button onclick="rule5()">Rule 5</button>
</div>
<br/>
<div>
	<button onclick="rule6()">Rule 6</button>
</div>

</body>
</html>